<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: black;">HORARIO</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"style="color: black;">PELICULAS</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card mb-3 mt-3" style="max-width: 600px; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/36905-403752-20210902050625.jpg" class="card-img-top my-3 mx-2" alt="...">
          
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">AIMBO</h5>
                  <p class="card-text"><small class="text-muted">Doblada</small></p>
                  <p class="card-text"><small class="text-muted">APT</small></p>
                  <input type="submit" value="4:30"><input type="submit" value="8:00">
                    <input type="submit" value="6:00">
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 mt-3" style="max-width: 600px; ">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00001187" class="card-img-top my-3 mx-2" alt="...">
            
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">La Casa Gucci</h5>
                    <p class="card-text"><small class="text-muted">Doblada</small></p>
                  <p class="card-text"><small class="text-muted">APT</small></p>
                    <input type="submit" value="4:30"><input type="submit" value="8:00">
                    <input type="submit" value="6:00">
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 mt-3" style="max-width: 600px; ">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00001128" class="card-img-top my-3 mx-2" alt="...">
              
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Medias Hermanas</h5>
                      <p class="card-text"><small class="text-muted">Doblada</small></p>
                  <p class="card-text"><small class="text-muted">APT</small></p>
                    <input type="submit" value="4:30"><input type="submit" value="8:00">
                    <input type="submit" value="6:00">
                    </div>
                  </div>
                </div>
              </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container mx-auto mt-4 ">
            <div class="row ">
               
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/36905-403752-20210902050625.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Estreno</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Aimbo</h6>

                                <a href="Pelicula-detalle" class="btn btn-outline-primary btn-block">Ver Detalles</a>
                                <a href="/Compra" class="btn btn-danger  btn-block">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:18rem;">
                        <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00001187" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Estreno</h5>
                            <h6 class="card-subtitle mb-2 text-muted">La Casa Gucci</h6>
                                <a href="Pelicula-detalle" class="btn btn-outline-primary btn-block">Ver Detalles</a>
                                <a href="/Compra" class="btn btn-danger  btn-block">Comprar</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00001128" class="card-img-top" alt="..." >
                        <div class="card-body">
                            <h5 class="card-title">Estreno</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Medias Hermanas</h6>
                                <a href="Pelicula-detalle" class="btn btn-outline-primary btn-block">Ver Detalles</a>
                                <a href="/Compra" class="btn btn-danger  btn-block">Comprar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
  </div>
