<!DOCTYPE html>
<html>
<head>
    
</head>

<body>

    <nav class="nav-cabeza">
        <div id="cabeza">
    
        <button id="b-cartelera" class="miBoton">Cartelera</button>
        <button id="b-estrenos" class="miBoton">Estrenos</button>

        </div>
      </nav>
        <section>
            

              <article class="caja">
                  <div id="contenido">
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                    <h5>Ainbo: La Guerrera del Amazonas</h5>
                    <h6>1hrs 30min</h6>
                    <button type="button" id="Detalles"  class="btn btn-primary">Ver Detalles</button>
                    
                    <button type="button" class="btn btn-danger">Comprar</button>
                  </div>

              </article>
              <article class="caja">
                  <div id="contenido">
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                    <h5>Casa de judas</h5>
                    <h6>1hrs 20min</h6>
                      <button type="button" id="Detalles"  class="btn btn-primary">Ver Detalles</button>
                      <button type="button" class="btn btn-danger">Comprar</button>
                     
                  </div>
                  

              </article>

              <article class="caja">
                <div id="contenido">
                  <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                  <h5>Ainbo: La Guerrera del Amazonas</h5>
                  <h6>1hrs 30min</h6>
                  <button type="button" id="Detalles"  class="btn btn-primary">Ver Detalles</button>
                  <button type="button" class="btn btn-danger">Comprar</button>
                </div>

            </article>

            <article class="caja">
                <div id="contenido2">
                  <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                  <h5>Ainbo: La Guerrera del Amazonas</h5>
                    <h6>1hrs 30min</h6>
                  <button type="button" id="Detalles"  class="btn btn-primary">Ver Detalles</button>
                  <button type="button" class="btn btn-danger">Comprar</button>
                </div>

            </article>
            <article class="caja">
                <div id="contenido2">
                  <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                  <h5>Ainbo: La Guerrera del Amazonas</h5>
                    <h6>1hrs 30min</h6>
                    <button type="button" id="Detalles"  class="btn btn-primary">Ver Detalles</button>
                    <button type="button" class="btn btn-danger">Comprar</button>
                </div>

            </article>

            <article class="caja">
              <div id="contenido2">
                <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""></a>
                <h5>Ainbo: La Guerrera del Amazonas</h5>
                    <h6>1hrs 30min</h6>
                <button type="button" id="Detalles" class="btn btn-primary">Ver Detalles</button>
                <button type="button" class="btn btn-danger">Comprar</button>
              </div>

          </article>

            



            
        </section>
    
        

    



</body>
</html>








