<div class="container">

<div class="card mb-3" style="max-width: 3040px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/36905-403752-20210902050625.jpg"
        alt="..."
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">

      <div  id=" titulo-card" class="card-body">
        <h1 style="color: blue;" class="card-title">La Guerrera del Amazonas</h1>
        <p  style="color: black;" class="card-text">
          Ainbo es el viaje épico de una joven heroína y sus guías espirituales:<br>
           Dillo un armadillo pequeño y divertido y Vaca un tapir de gran tamaño. <br> 
          Todos ellos se embarcan
          en una búsqueda para salvar su hogar, situado en la selva amazónica.
        </p>

        
          <h4 class="text-muted">Director</h4>
          <p class="card-text">
            Jose Zelada
          </p>

          <h4 class="text-muted">Idioma</h4>
          <p class="card-text">
            Subtitulada
          </p>

          <h4 class="text-muted">Disponible</h4>
          <p class="card-text">
            Con Vacuna , REGULAR, 2D
          </p>
        
      </div>
    </div>
  </div>
</div>

<div>
 
  <div class="botonComprar">

    <a href="#" class="btn btn-danger ">Comprar</a>
  </div>

</div>


</div>